.App {
  text-align: center;
}

.card {
  background-color: rgb(252, 248, 243);
}

.card-header {
  background-color: rgb(125, 194, 171);
}

.form-container {
  width: 30%;
  background-color: rgb(252, 248, 243);
  align-items: center;
}